body {
    background: url(../img/Color\ Hunt\ Palette\ 371b584c35755b4b8a7858a6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
}